.section{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 25px auto 19px;
    align-items: center;
    justify-items: center;
    padding: 30px;
    box-sizing: border-box;
}
.containLabel{
    margin-top: 31px;
    display: flex;
    align-items: center;
}
.containLabel p{
    font-size: 14px;
    color: #030229;
    opacity: 0.7;
}
.containLabel p:nth-of-type(1){
    margin: 0 14px 0 5px;
}
.containLabel p:nth-of-type(2){
    margin: 0 17px 0 5px;
}
.containLabel p:nth-of-type(3){
    margin: 0 0 0 5px;
}
.header{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}
.header h3{
    width: 200px;
    height: 25px;
    font-size: 1.125rem;
    margin:0 auto 0 0;
    font-weight: bold;
    color: #030229;
    opacity: 0.7;
}