
.section {
    position: fixed;
    top: 0;
    right: 0;
    width: 369px;
    height: 100vh;
    background-color: white;
    z-index: 1001;
    transform: translateX(100%); 
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 30px 35px 30px;
    box-sizing: border-box;
}

.sectionVisible {
    transform: translateX(0); 
}
.sectionNoVisible {
    transform: translateX(100%); 
}
.contain{
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}
.contain h3{
    color: #030229;
    font-size: 18px;
    font-weight: bold;
    width: 168px;
    height: 23px;
    margin: 0 71px 0 42px;
}