.calendar{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: center;
    justify-items: center;


}
.calendar :global(.react-calendar__navigation) {
    display: flex;   
    justify-content: space-between;   
    height: 12px;           
    margin-bottom: 18px;    
    align-items: center;   
    gap: 10px; 
    padding: 0;
}
.calendar :global(.react-calendar__navigation__arrow) {
    display: none;
}
.calendar :global(.react-calendar__navigation__label) {
    order: 1; 
    flex-grow: 1; 
    text-align: left; 
    margin-right: 0;
    height: 12px;
    font-size: 0.75rem;
    border: none;
    background-color: white;
    opacity: 0.8;
    color: #030229;
    padding: 0;
}
.calendar :global(.react-calendar__navigation__prev-button),
.calendar :global(.react-calendar__navigation__next-button) {
    font-size: 0 !important; 
}

.calendar :global(.react-calendar__month-view__weekdays) {
    text-align: left;        
    text-transform: uppercase; 
    color: #030229;
    opacity: 0.7;
    font-size: 0.75rem;
    margin-bottom: 12px;
}
.calendar :global(.react-calendar__viewContainer) {
    width: 289px;
}
.calendar :global(.react-calendar) {
    width: 289px;
    height: 257px;
}
.calendar :global(.react-calendar__month-view__days) {
    display: grid;
    gap: 12px 25px;  
}
.calendar :global(.react-calendar__tile) {  
    min-width: 15px;
    max-width: 15px;
    min-height: 16px;
    max-height: 16px;
    width: auto !important;
    height: auto !important;
    background: none;        
    text-align: left;      
    border: none;               
    transition: all 0.6s ;     
    font-size: 0.75rem;      
    color: #030229;  
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar :global(.react-calendar__tile--active) {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    width: auto !important;
    height: auto !important;
    background: #605BFF !important;    
    color: white !important;           
    border-radius: 50%;    
    box-shadow: 0 4px 4px #615bff46;         
}
.calendar :global(.past-date) {
    opacity: 0.5;
    cursor: not-allowed;
}