.element{
    display: flex;
    align-items: center;
    width: 695px;
    height: 55px;
    font-size: 0.75rem;
    flex-shrink: 0;
}
.image{
    width: 37px;
    height: 37px;
    border-radius: 28px;
}
.position{
    margin-left: 20px;
    margin-right: 68px;
}
.element p{
    width: auto;
    height: 12px;
    font-size: 0.75rem;
}

.imagePosition{
    width: 13px;
    height: 17.8px;
    margin-left: 20px;
    margin-right: 63px;
}
.nameContain{
    display: flex;
    height: 37px;
    align-items: center;
    width: 238px !important;
    min-width: 238px;
    flex-shrink: 0;
}
.nameContain p{
    color:#0068DD ;
}
.priceContain{
    width: 120px;
    height: 12px;
    display: flex;
}
.priceContain p{
    margin: 0;
}
.orderContain{
    width: 165px;
    height: 12px;
    display: flex;
}
.orderContain p{
    margin: 0;
}