.create{
    width: 348px;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    background-color:#605BFF ;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.reset{
    width: 502px;
    height: 50px;
    text-align: center;
    background-color:#605BFF ;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.conf{
    width: 169px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #605BFF;
}