.button{
    text-align: center;
    border-radius: 10px;
    border: none;
}
.create{
    width: 348px;
    height: 50px;
    margin-top: 30px;
    background-color:#605BFF ;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.reset{
    width: 502px;
    height: 50px;
    background-color:#605BFF ;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
.conf{
    width: 169px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    background-color: #605BFF;
}
.update{
    width: 138px;
    height: 33px;
    background-color:#605BFF ;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
}
.product{
    width: 101px;
    height: 40px;
    background-color: white;
    color: #030229;
    font-size: 0.875rem;
    font-weight: bold;
}
.customer{
    width: 101px;
    height: 40px;
    background-color: white;
    color: #030229;
    font-size: 0.875rem;
    font-weight: bold;
}
.customerActive{
    width: 101px;
    height: 40px;
    background-color: #605BFF;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}
.productActive{
    width: 101px;
    height: 40px;
    background-color: #605BFF;
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}

.condition{
    width: 162px;
    height: 45px;
    border-radius: 22.5px;
}
.condition.Cancel{
    background-color: #d11a2925;
    color: #D11A2A;
}
.condition.Complete{
    background-color: #3a974d1e;
    color: #3A974C;
}
.condition.Pending{
    background-color: #f2923923;
    color: #F29339;
}

.sendInvoice{
    width: 238px;
    height: 45px;
    color: #605BFF;
    background-color: white;
    font-size: 1rem;
    font-weight: 600px;
    border: 1px solid #615bff2d;
}
.createInvoice{
    width: 238px;
    height: 45px;
    background-color: #605BFF;
    color: white;
    font-size: 1rem;
    font-weight: 600px;
}
.createCustomer{
    width: 100%;
    height: 50px;
    background-color: #605BFF;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
}
.calendarNav{
    width: auto;
    height: 40px;
    padding: 0 20px;
    font-size: 0.875rem;
    font-weight: 600px;
    opacity: 0.7;
    color: #030229;
}
.calendarNav.active{
    background-color: #605BFF;
    color: white;
    opacity: 1;
}
.my-schedule{
    width: 100%;
    height: 45px;
    color: #605BFF;
    background-color: white;
    border: 1px solid #615bff27;
    margin-top: 94px;
}
.more{
    min-width: 103px;
    max-width: 100%;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #FAFAFB;
    background-color: white;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 14px;
    color: #605BFF;
}
.createSchedule-close{
    background-color: white;
    border: 1px solid rgba(96, 91, 255, 0.1);
    color: #605BFF;
    width: 93px;
    height: 40px;
}
.createSchedule-save{
    background-color: #605BFF;
    color: white;
    width: 93px;
    height: 40px;
}