.button{
    text-align: center;
    border-radius: 10px;
    border: none;
}
.create{
    width: 348px;
    height: 50px;
    margin-top: 30px;
    background-color:#605BFF ;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.reset{
    width: 502px;
    height: 50px;
    background-color:#605BFF ;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.conf{
    width: 169px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #605BFF;
}
.update{
    width: 138px;
    height: 33px;
    background-color:#605BFF ;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: auto;
}
.product{
    width: 101px;
    height: 40px;
    background-color: white;
    color: #030229;
    font-size: 14px;
    font-weight: bold;
}
.customer{
    width: 101px;
    height: 40px;
    background-color: white;
    color: #030229;
    font-size: 14px;
    font-weight: bold;
}
.customerActive{
    width: 101px;
    height: 40px;
    background-color: #605BFF;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.productActive{
    width: 101px;
    height: 40px;
    background-color: #605BFF;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.condition{
    width: 162px;
    height: 45px;
    background-color: #3a974d1e;
    color: #3A974C;
    border-radius: 22.5px;
}