.contain{
    width: auto;
    height:11.17px;
    display: flex;
    gap:10px;
}
.contain p{
    width: auto;
    height:11px;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
}
.contain img{
    width: 6px;
    height:5px;
    margin-top: 6.17px;
}