.contain{
    width: 100%;
    display: grid;
    grid-template-columns: 61.58% 38.42%;
    align-items: center;
    justify-items: center;
    gap: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
